# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# Keil MDK
Objects/
Listings/
DebugConfig/
*.uvguix.*
*.uvoptx
JLinkLog.txt
JLinkSettings.ini
EventRecorderStub.scvd

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
*.swp
*.swo
